<div layout="column" layout-align="center center" style="margin-top: 40px;">

    <div layout="row" layout-align="center center">
        <img src="images/mix-mithai-1kg.jpg">
    </div>
    <div class="textSetting">
        <h1>Sweet/Mithai</h1>

        <p>Very High quality fresh mithai & Cakes. All mithai will be delivered within 2 hours anywhere in Yonkers.
            If you need gift wrapping please mention in suggestion box on checkout.</p>
    </div>

    <ul layout="column" layout-gt-sm="row">
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a>
                    <img src="images/3.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a>
                    <img src="images/5.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a title="Habshi Halwa">
                    <img src="images/cocoa-candies-chocolate-nuts-allsorts-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>
            </div>

        </li>
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a>
                    <img src="images/fish-plug-board-spices-greens-sesame-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>


    </ul>
    <ul layout="column" layout-gt-sm="row" class="ulMargin">
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a>
                    <img src="images/heart-form-cocoa-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a>
                    <img src="images/small-baskets-tubules-chocolate-cocoa-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a title="Habshi Halwa">
                    <img src="images/heart-cookies-sugar-coffee-grains-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>
            </div>

        </li>
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a>
                    <img src="images/japanese-cuisine-sword-allsorts-fish-sauce-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>


    </ul>
    <ul layout="column" layout-gt-sm="row">
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a>
                    <img src="images/shopping-baking-bread-loaf-pretzels-dried-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a>
                    <img src="images/candies-portions-chocolate-dessert-ornament-allsorts-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>
        <li class="allSweetBox">
            <div class="boxHover stylingEffect">
                <a title="Habshi Halwa">
                    <img src="images/tea-pastries-cookies-cake-raisins-1920x1080.jpg" class="highImgSize">
                </a>

                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>
            </div>

        </li>
        <li class="allSweetBox stylingEffect">
            <div class="boxHover">
                <a>
                    <img src="images/wings-chicken-sauce-plate-1920x1080.jpg" class="highImgSize">
                </a>


                <div style="margin-top: 5%">
                    <span>Sohn Halwa</span>
                </div>
                <div style="margin-top: 5%;">
                    <span>$1.50</span>

                </div>
                <div><p>&nbsp</p></div>
                <div><p>&nbsp</p></div>

            </div>
        </li>


    </ul>

</div>
