<!DOCTYPE html>
<html style="overflow: hidden">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="style.css">


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-new-router/dist/router.es5.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>

    <!--Slider-->
    <script src="sliderengine/jquery.js"></script>
    <script src="sliderengine/amazingslider.js"></script>
    <script src="sliderengine/initslider-1.js"></script>

    <script src="applications.js"></script>
    <script src="components/home/home.js"></script>
    <script src="components/view/view.js"></script>
</head>
<body ng-app="applications" ng-controller="applicationController">
<header class="header">
    <div layout="row">
        <div flex="5"></div>
        <div layout="row">
            <span layout="row" layout-align="start center" class="iconColor iconMargin">
                <ng-md-icon icon="phone" size="25"></ng-md-icon><a href="#"> 0216600247 </a></span>
            <span layout="row" layout-align="start center" class="iconColor">
                <ng-md-icon icon="whatsapp" size="25"></ng-md-icon><a href="#"> 03159265669 </a></span>
        </div>
        <div flex></div>

        <div layout="row">

            <span layout="row" layout-align="center center" class="iconColor iconMargin">
        <ng-md-icon icon="account_box" size="25"></ng-md-icon><a href="#"></a></span>

            <span layout="row" layout-align="center center" class="iconColor iconMargin">
        <ng-md-icon icon="login" size="25"></ng-md-icon><a href="#"> </a></span>
            <span layout="row" layout-align="center center" class="iconColor">
                <ng-md-icon icon="supervisor_account" size="25"></ng-md-icon><a href="#"></a></span>
        </div>
        <div flex="5"></div>
    </div>
</header>
<!--subheader-->
<div style="height: 95%; overflow: auto">
<md-subheader layout="row" layout-align="start center">

    <div layout="row" layout-align="start center">
        <div layout="column" layout-margin layout-padding >
            <img src="images/finalLogo.jpg" ng-click="goToHome()" class="subheader" layout="row" layout-align="center center">
            <md-button class="button" ng-click="goToView()">ALL ITEMS</md-button>
        </div>
        <div flex></div>

        <div layout="row" layout-align="center center" >

        <a href="#" class="searchicon" >
            <ng-md-icon icon="search" size="30" class="iconSearch"></ng-md-icon>
        </a><input layout="row" layout-align="center center" class="input" placeholder="search sweet here">
        </div>
        <div flex="10"></div>



    </div>

</md-subheader>


    <div class="animation" layout="row" layout-align="center center"> <!-- Open Animation -->
        <!-- Insert to your webpage where you want to display the slider -->
        <div id="amazingslider-1" style="display:block;position:relative;margin:0">
            <ul class="amazingslider-slides" style="display:none;">

                <li><img src="images/MainBanner-2Final-changed.jpg"/></li>
                <li><img src="images/Cartpk-MainBanner-1-Test3-1920x500.jpg"/></li>
                <li><img src="images/cart-gorcery-delivery-in-karachi.jpg"></li>
                <li><img src="images/PistaBurfee.jpg"></li>
                <li><img src="images/AlmondBurfee.jpg"></li>


            </ul>

            <div class="amazingslider-engine" style="display:none;"><a href="http://amazingslider.com">JavaScript
                Slideshow</a></div>
        </div>
    </div>
    <div ng-viewport></div>
<!--chat button-->
<!--<div class="wrapper" >-->


<!--<md-button class="md-raised button2" id="rotate" ng-click="toggleRight()" ng-hide="isOpenRight()"><ng-md-icon icon="chat" style="fill: white;text-align: center"></ng-md-icon><b>Chat Now</b></md-button>-->

<!--</div>-->


<!--<section layout="row" flex>-->

    <!--<md-sidenav class="md-sidenav-right md-whiteframe-z2 sideWidth" md-component-id="right">-->

        <!--<img src="images/Untitled-2.jpg" style="height: 78px; width: 400px !important;">-->


        <!--<md-content ng-controller="RightCtrl" layout-padding>-->
            <!--<div layout="column">-->
                <!--<md-input-container class="md-block" flex-gt-sm>-->
                    <!--<label>Name</label>-->
                    <!--<input type="text" required>-->
                <!--</md-input-container>-->
                <!--<md-input-container class="md-block" flex-gt-sm>-->
                    <!--<label>Contact No.</label>-->
                    <!--<input type="number" required>-->
                <!--</md-input-container>-->
                <!--<md-input-container class="md-block" flex-gt-sm>-->
                    <!--<label>Email</label>-->
                    <!--<input type="email" required>-->
                <!--</md-input-container>-->

            <!--</div>-->
            <!--<textarea type="text" placeholder="Leave us a message, order no. or feedback.."></textarea>-->
            <!--<md-button class="md-primary md-raised">Submit</md-button>-->

        <!--</md-content>-->
    <!--</md-sidenav>-->
<!--</section>-->
<!--&lt;!&ndash;main div&ndash;&gt;-->


    <!--<div layout="column" layout-align="center center">-->


        <!--<div class="animation" layout="row" layout-align="center center"> &lt;!&ndash; Open Animation &ndash;&gt;-->
            <!--&lt;!&ndash; Insert to your webpage where you want to display the slider &ndash;&gt;-->
            <!--<div id="amazingslider-1" style="display:block;position:relative;margin:0">-->
                <!--<ul class="amazingslider-slides" style="display:none;">-->

                    <!--<li><img src="images/MainBanner-2Final-changed.jpg"/></li>-->
                    <!--<li><img src="images/Cartpk-MainBanner-1-Test3-1920x500.jpg"/></li>-->
                    <!--<li><img src="images/cart-gorcery-delivery-in-karachi.jpg"></li>-->
                    <!--<li><img src="images/PistaBurfee.jpg"></li>-->
                    <!--<li><img src="images/box2.jpg"></li>-->
                    <!--<li><img src="images/AlmondBurfee.jpg"></li>-->


                <!--</ul>-->

                <!--<div class="amazingslider-engine" style="display:none;"><a href="http://amazingslider.com">JavaScript-->
                    <!--Slideshow</a></div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;How it works&ndash;&gt;-->
        <!--<div  style="margin-top: 3%">-->
            <!--<h1>How It Works</h1>-->
        <!--</div>-->
        <!--<div layout="column" layout-gt-sm="row" layout-align="center center">-->
            <!--<div class="widthDiv textAlign">-->
                <!--<img src="images/Step1.svg" class="imgHeight">-->

                <!--<h2>Place Your Order Here</h2>-->

                <!--<p>Conveniently use your computer or smartphone to place your order online.</p>-->
            <!--</div>-->
            <!--<div class="widthDiv textAlign">-->
                <!--<img src="images/Step2.svg" class="imgHeight">-->

                <!--<h2 >Delivery Within 2 Hours</h2>-->

                <!--<p >Our commitment is to deliver your order at your door step within 2 hours.</p>-->
            <!--</div>-->
            <!--<div class="widthDiv textAlign">-->
                <!--<img src="images/Step3.svg" class="imgHeight">-->

                <!--<h2>Pay Cash at your doorstep</h2>-->

                <!--<p>Once you are satisfied with the order, our service & quality, pay cash on the spot upon delivery.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;end how it works&ndash;&gt;-->


        <!--<div class="firstToolbar">-->
            <!--<md-button class="md-primary buttonFonts">TOP SWEETS</md-button>-->
            <!--<md-button class="md-primary buttonFonts">VIEW ALL</md-button>-->
        <!--</div>-->

        <!--<md-card class="boxShadowNone">-->
            <!--<md-card-content>-->
                <!--<div layout="column" layout-gt-sm="row" layout-wrap>-->
                    <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced($event)"><img-->
                            <!--src="images/9.jpg" class="imageAlign imgSweets mainWidth">-->
                        <!--<md-button><b><b>Order Now</b></b></md-button>-->
                    <!--</div>-->
                    <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced1($event)"><img-->
                            <!--src="images/10.jpg" class="imageAlign imgSweets mainWidth">-->
                        <!--<md-button><b>Order Now</b></md-button>-->
                    <!--</div>-->
                    <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced3($event)"><img-->
                            <!--src="images/11.jpg" class="imageAlign imgSweets mainWidth">-->
                        <!--<md-button><b>Order Now</b></md-button>-->
                    <!--</div>-->
                    <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced4($event)"><img-->
                            <!--src="images/12.jpg" class="imageAlign imgSweets mainWidth">-->
                        <!--<md-button><b>Order Now</b></md-button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
        <!--<div class="firstToolbar">-->
            <!--<md-button class="md-primary buttonFonts">TOP SWEETS</md-button>-->
            <!--<md-button class="md-primary buttonFonts">VIEW ALL</md-button>-->
        <!--</div>-->

        <!--<md-card class="boxShadowNone">-->
            <!--<md-card-content>-->
                <!--<div layout="column">-->

                    <!--<div layout="column" layout-gt-sm="row" layout-wrap>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced5($event)">-->
                            <!--<img src="images/3.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced6($event)">-->
                            <!--<img src="images/5.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced7($event)">-->
                            <!--<img src="images/7.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced8($event)">-->
                            <!--<img src="images/8.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
            <!--</md-card-content>-->
        <!--</md-card>-->

        <!--<div class="firstToolbar">-->
            <!--<md-button class="md-primary buttonFonts">TOP SWEETS</md-button>-->
            <!--<md-button class="md-primary buttonFonts">VIEW ALL</md-button>-->
        <!--</div>-->

        <!--<md-card class="boxShadowNone">-->
            <!--<md-card-content>-->
                <!--<div layout="column" layout-gt-sm="row" layout-wrap>-->
                    <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced9($event)"><img-->
                            <!--src="images/9.jpg" class="imageAlign imgSweets mainWidth">-->
                        <!--<md-button><b><b>Order Now</b></b></md-button>-->
                    <!--</div>-->
                    <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced10($event)"><img-->
                            <!--src="images/10.jpg" class="imageAlign imgSweets mainWidth">-->
                        <!--<md-button><b>Order Now</b></md-button>-->
                    <!--</div>-->
                    <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced11($event)"><img-->
                            <!--src="images/11.jpg" class="imageAlign imgSweets mainWidth">-->
                        <!--<md-button><b>Order Now</b></md-button>-->
                    <!--</div>-->
                    <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced12($event)"><img-->
                            <!--src="images/12.jpg" class="imageAlign imgSweets mainWidth">-->
                        <!--<md-button><b>Order Now</b></md-button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
        <!--<div class="firstToolbar">-->
            <!--<md-button class="md-primary buttonFonts">TOP SWEETS</md-button>-->
            <!--<md-button class="md-primary buttonFonts">VIEW ALL</md-button>-->
        <!--</div>-->

        <!--<md-card class="boxShadowNone">-->
            <!--<md-card-content>-->
                <!--<div layout="column">-->

                    <!--<div layout="column" layout-gt-sm="row" layout-wrap>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced13($event)">-->
                            <!--<img src="images/3.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced14($event)">-->
                            <!--<img src="images/5.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced15($event)">-->
                            <!--<img src="images/7.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced16($event)">-->
                            <!--<img src="images/8.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
        <!--<div class="firstToolbar">-->
            <!--<md-button class="md-primary buttonFonts">TOP SWEETS</md-button>-->
            <!--<md-button class="md-primary buttonFonts">VIEW ALL</md-button>-->
        <!--</div>-->

        <!--<md-card class="boxShadowNone">-->
            <!--<md-card-content>-->
                <!--<div layout="column">-->

                    <!--<div layout="column" layout-gt-sm="row" layout-wrap>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced17($event)">-->
                            <!--<img src="images/3.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced18($event)">-->
                            <!--<img src="images/5.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced19($event)">-->
                            <!--<img src="images/7.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced20($event)">-->
                            <!--<img src="images/8.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
        <!--<div class="firstToolbar">-->
            <!--<md-button class="md-primary buttonFonts">TOP SWEETS</md-button>-->
            <!--<md-button class="md-primary buttonFonts">VIEW ALL</md-button>-->
        <!--</div>-->

        <!--<md-card class="boxShadowNone">-->
            <!--<md-card-content>-->
                <!--<div layout="column">-->

                    <!--<div layout="column" layout-gt-sm="row" layout-wrap>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced21($event)">-->
                            <!--<img src="images/3.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced22($event)">-->
                            <!--<img src="images/5.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced23($event)">-->
                            <!--<img src="images/7.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                        <!--<div class="imageAlign1 divBorder boxShadows" layout="column" ng-click="showAdvanced24($event)">-->
                            <!--<img src="images/8.jpg" class="imageAlign imgSweets mainWidth">-->
                            <!--<md-button><b>Order Now</b></md-button>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
        <!--<div class="wrapper">-->


            <!--<md-button class="md-raised button2" id="rotate" ng-click="toggleRight()" ng-hide="isOpenRight()">-->
                <!--<ng-md-icon icon="chat" style="fill: white;text-align: center"></ng-md-icon>-->
                <!--<b>Chat Now</b></md-button>-->

        <!--</div>-->
    <!--</div>-->


    <!--<footer layout="column">-->

        <!--<div layout="column">-->
            <!--<div layout="row">-->
                <!--<div flex="25">-->
                    <!--<p class="fbook">Follow Us On:</p>-->
                    <!--<ng-md-icon icon="facebook" class="fbook"></ng-md-icon>-->
                    <!--<ng-md-icon icon="twitter" class="fbook"></ng-md-icon>-->
                    <!--<ng-md-icon icon="google" class="fbook"></ng-md-icon>-->
                <!--</div>-->
                <!--<div layout="column">-->
                    <!--<div layout="row">-->
                        <!--<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="500" height="250"-->
                                <!--src="https://maps.google.com/maps?hl=en&amp;q=11916 94th Ave, South Richmond Hill,NY 11419&amp;ie=UTF8&amp;t=roadmap&amp;z=10&amp;iwloc=B&amp;output=embed"></iframe>-->
                    <!--</div>-->

                    <!--<div layout="row" layout-align="center center">-->

                        <!--<h3 class="fbook1">Shan Sweets Inc.</h3>-->

                    <!--</div>-->
                <!--</div>-->


                <!--<div flex layout="column" layout-align="start center">-->
                    <!--<p class="fbook">CONTACT</p>-->

                    <!--<p class="fbook">Shan Sweets Inc.</p>-->

                    <!--<p class="fbook">11916 94th Ave, South Richmond Hill, </p>-->

                    <!--<p class="fbook">NY 11419</p>-->


                    <!--<p class="fbook">(718) 850-7800</p>-->


                    <!--<p class="fbook">Delivery Timings : 9am to 9pm</p>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</footer>-->
<!--</div>-->
</div>
</body>
</html> 